@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css';

:root {
  --black: #222222;
  --blue: #00A7DE;
  --background-color: #00A7DE;


  --primary-100: rgba(0, 167, 222, 1);
  --primary-90: rgba(0, 167, 222, 0.9);
  --primary-70: rgba(0, 167, 222, 0.7);
  --primary-50: rgba(0, 167, 222, 0.5);
  --primary-30: rgba(0, 167, 222, 0.3);
  --primary-10: rgba(0, 167, 222, 0.1);
}

.main-navbar {
  margin-top: 1rem;
}
.navbar-logo {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  max-height: 4rem !important;
}
.navbar-item {
  font-size: 1.4rem;
}

.main-content {
  margin: 1rem 0;
  padding: 2rem 0 4rem;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
}
.grid-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cover-image {
  background-size: cover;
  background-position: 50% 50%;
  height: 20rem;
  display: flex;
  margin-bottom: 1rem;
}

.title-block {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  display: inline-block;
  margin: auto auto auto 1rem;
}

.title-block .title, .title-block .subtitle {
  color: white;
}



/*
MY CSS
*/

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  display: flex;
  flex-direction: column;
}

.two {
  display: flex;
  flex-direction: column;
}

.three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



/* AGENDA */

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  padding: 1.75rem 0.5rem;
}


/* ABOUT */



/* HERO SECTION */
.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  color: white;
}

.main-button {
  background-color: var(--primary-100);
}


.border-box {
  border: 1.5px solid var(--primary-100);
}




/*  Footer */
.made-by-fh {
  font-size: 12px;
}