
.news-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-article {
  padding: 1rem 2rem;
  min-width: 100%;
  display: flex;
} 

.news-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
}

.news-image {
  width: 100%;
  flex: 1;
}

.news-content {
  flex: 1;
}

.news-content > img {
  max-width: 512px;
}

.image-wrapper {
  width: 100%;
  flex: 1;


}

@media only screen and (max-width: 768px) {
  .news-content {
    display: flex;
    flex-direction: column;
  }

  .news-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .news-title > h2 {
    margin: 0 !important;
  }

  .news-content-image {
    max-width: 100% !important;
    max-height: 450px;
  }
}
