.vorstand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.vorstand-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


@media only screen and (max-width: 1024px) {
  .vorstand-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}



@media only screen and (max-width: 767px) {
  .legende {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }

  .vorstand-column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .vorstand {
    flex-direction: column;
  }
}


